.container {
  padding: 1rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.input-field {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.output-text {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}


index.css
body{
  text-align: center;
  margin: 25%;
  background: linear-gradient(rgb(109, 122, 203),rgb(205, 228, 74));
  background-repeat: no-repeat;
}
