.container {
  text-align: center;
  padding: 250px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  color: rgb(130, 84, 84);
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.stored-value {
  font-size: 18px;
  color: #da6060;
  margin-top: 10px;
}
body{
  background-color:lightyellow;
}
