body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 230px;
    background: linear-gradient(135deg, rgb(219, 219, 135),rgb(203, 232, 77));
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: darksalmon;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}
