body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50; 
  color: rgb(41, 41, 35); /* Light text for contrast */
  font-family: Arial, sans-serif;
}
.movie-search-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  min-height: 100vh;
}

.search-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #e9a0a0;
  border-radius: 5px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  background: rgb(168, 215, 227);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.movie-card h3 {
  font-size: 16px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 16px;
}
body{
  background-color: cadetblue;
}



